{% extends 'writer/navbar.html' %}
{% block content %}

    <br>

    {% for article in AllArticles %}
        <div class="container bg-white shadow-md p-5 form-layout">

            <h3>{{ article.title }}</h3>

            <br>

            {{ article.content }}

            <br><br>

            {{ article.created_at|date:"d/m/Y H:i:s" }}

            <br><br>

            {% if article.is_premium == True %}

                <strong>⭐Premium</strong>

            {% elif article.is_premium == False %}

                <strong>Free</strong>

            {% endif %}

            <hr>

            <a href="{% url 'update-article' article.id %}" class="btn btn-primary">Update</a>
            
            <br>

            <a href="{% url 'delete-article' article.id %}" class="btn btn-primary">Delete</a>
        </div>

        <br>

    {% endfor %}

{% endblock %}
